In [1]:
#! pip install citipy
#! pip install unidecode

In [2]:
# Dependencies and Setup
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests as req
import time
import csv
import random
import requests
import api_keys
import math
import os


# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [3]:
lat_lngs = []
cities = []
Country = []
 
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    country = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
  
    if city not in cities:
        cities.append(city)
        Country.append(country)

len(cities)

578

In [4]:
cities = pd.DataFrame()
cities['rand_lat'] = lats
cities['rand_lng'] = lngs

for index, row in cities.iterrows():
    lat = row['rand_lat']
    lng = row['rand_lng']
    cities['closest_city'] = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    cities['country'] = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
#location = location.drop_duplicates(['closest_city', 'country'])
#location = location.dropna()
#len(location['closest_city'].value_counts())

cities.head()

    rand_lat    rand_lng closest_city country
0 -46.918913  174.473402       albany      au
1  25.056764  121.320803       albany      au
2  27.565546    4.733968       albany      au
3 -50.608187  111.951000       albany      au
4  19.008478  149.822527       albany      au

In [5]:
citypy = os.path.join("worldcities.csv")
citipy_CSV = pd.read_csv(citypy)
citypy_CSV = citipy_CSV.sample(n=505)
citypy_CSV.head()

      Country        City   Latitude  Longitude
45480      us     mauldin  34.778611 -82.310278
22709      ly      zlitan  32.466667  14.566667
8874       de  gartringen  48.650000   8.900000
34550      ro    turburea  44.716667  23.516667
44025      us    bay city  43.594444 -83.888889

In [8]:
count = 0
api_key = api_keys.api_key
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key 
units = "imperial" 
query_url = url + "lat=" + str(row["Latitude"]) + "&lon=" + str(row["Longitude"]) +"&units=" + units

citypy_CSV["Temperature"] = ""
citypy_CSV["Humidity"] = ""
citypy_CSV["Cloudiness"] = ""
citypy_CSV["Wind Speed"] = ""

for index, row in citypy_CSV.iterrows():
    time.sleep(5)
    count += 1
    weather = requests.get(query_url).json()
    temperature = weather["main"]["temp"]
    humidity = weather["main"]["humidity"]
    cloudiness = weather["clouds"]["all"]
    windSpeed = weather["wind"]["speed"]
    
    
    citypy_CSV.set_value(index, "Temperature", temperature)
    citypy_CSV.set_value(index, "Humidity", humidity)
    citypy_CSV.set_value(index, "Cloudiness", cloudiness)
    citypy_CSV.set_value(index, "Wind Speed", windSpeed)
citypy_CSV

KeyError: 'main'